
<body>
  
   {{>header}}

  {{>hero}}

  <div class="container">
  <h1>{{Category}}</h1>
  </div>

  <br>
  <h1 >Vegetarian Meals</h1>
  <br>
  <div class="grid">
 {{#each vegetarianMeals}}
<div class="column">
    <div class="card">
      <img src={{imageURL}} height="200" width="200">
        <div class="text">
          <h2 class="headings">{{Title}}</h2>
            <p class="desc"> {{whatIsIncluded}}<br>
             </p>
             <p class="desc2">{{Description}}</p>
             <br>
              <button class="button-price">${{Price}}</button>
</div>
</div>
</div>
  {{/each}}

   
  </div>

<br>
  <h1 >Meat Meals</h1>

  <br>
     
  <div class="grid">
      {{#each meatMeals}}
 <div class="column">
    <div class="card">
      <img src={{imageURL}} height="200" width="200">
        <div class="text">
          <h2 class="headings">{{Title}}</h2>
            <p class="desc"> {{whatIsIncluded}}<br>
             </p>
             <p class="desc2">{{Description}}</p>
             <br>
              <button class="button-price">${{Price}}</button>
        </div>
        </div>
        </div>
  {{/each}}

   
  </div>








  {{>footer}}
</body>