{{>header}}
{{>hero}}
{{#each meals as |category|}}
  <br>
  <h1>{{category._id}}</h1>
  <br>
  <div class="grid">
    {{#each category.meals}}
      <div class="column">
        <div class="card">
          <img src={{this.imageURL}} height="200" width="200">
          <div class="text">
            <h2 class="headings">{{this.Title}}</h2>
              <p class="desc">{{this.whatIsIncluded}}<br></p>
              <p class="desc2">{{this.Description}}</p>
              <br>
              <button class="button-price">${{this.Price}}</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <br>
{{/each}}
{{>footer}}